$aspect-ratio-square: unquote('1 / 1') !default;

$aspect-ratio-landscape: unquote('4 / 3') !default;

$aspect-ratio-portrait: unquote('3 / 4') !default;

$aspect-ratio-wide: unquote('16 / 9') !default;

$aspect-ratio-ultrawide: unquote('18 / 5') !default;

$aspect-ratio-golden: unquote('1.618 / 1') !default;

$aspect-ratio: (
  aspect-ratio-square: $aspect-ratio-square,
  aspect-ratio-landscape: $aspect-ratio-landscape,
  aspect-ratio-portrait: $aspect-ratio-portrait,
  aspect-ratio-wide: $aspect-ratio-wide,
  aspect-ratio-ultrawide: $aspect-ratio-ultrawide,
  aspect-ratio-golden: $aspect-ratio-golden,
) !default;
