$size-3X: 14rem !default;
$size-2X: 16rem !default;
$size-xs: 20rem !default;
$size-sm: 24rem !default;
$size-md: 28rem !default;
$size-lg: 32rem !default;
$size-xl: 36rem !default;
$size-2XL: 42rem !default;
$size-3XL: 48rem !default;
$size-4XL: 56rem !default;
$size-5XL: 64rem !default;
$size-6XL: 72rem !default;
$size-7XL: 80rem !default;
$size-8XL: 90rem !default;
$size-max: unquote('max-content') !default;
$size-min: unquote('min-content') !default;
$size-fit: unquote('fit-content') !default;
$size-prose: 60ch !default;
$size-full: 100% !default;
$size-dvh: 100dvh !default;
$size-svh: 100svh !default;
$size-lvh: 100lvh !default;
$size-dvw: 100dvw !default;
$size-svw: 100svw !default;
$size-lvw: 100lvw !default;
$size-vw: 100vw !default;
$size-vh: 100vh !default;
$size-half: 50% !default;
$size-one-third: 33.333333% !default;
$size-two-thirds: 66.666667% !default;
$size-one-fourth: 25% !default;
$size-three-fourths: 75% !default;
$size-one-fifth: 20% !default;
$size-two-fifths: 40% !default;
$size-three-fifths: 60% !default;
$size-four-fifths: 80% !default;
$size-one-sixth: 16.666667% !default;
$size-two-sixths: 33.333333% !default;
$size-three-sixths: 50% !default;
$size-four-sixths: 66.666667% !default;
$size-five-sixths: 83.333333% !default;
$size-one-twelfth: 8.333333% !default;
$size-two-twelfths: 16.666667% !default;
$size-three-twelfths: 25% !default;
$size-four-twelfths: 33.333333% !default;
$size-five-twelfths: 41.666667% !default;
$size-six-twelfths: 50% !default;
$size-seven-twelfths: 58.333333% !default;
$size-eight-twelfths: 66.666667% !default;
$size-nine-twelfths: 75% !default;
$size-ten-twelfths: 83.333333% !default;
$size-eleven-twelfths: 91.666667% !default;

$size: (
  size-3X: $size-3X,
  size-2X: $size-2X,
  size-xs: $size-xs,
  size-sm: $size-sm,
  size-md: $size-md,
  size-lg: $size-lg,
  size-xl: $size-xl,
  size-2XL: $size-2XL,
  size-3XL: $size-3XL,
  size-4XL: $size-4XL,
  size-5XL: $size-5XL,
  size-6XL: $size-6XL,
  size-7XL: $size-7XL,
  size-8XL: $size-8XL,
  size-max: $size-max,
  size-min: $size-min,
  size-fit: $size-fit,
  size-prose: $size-prose,
  size-full: $size-full,
  size-dvh: $size-dvh,
  size-svh: $size-svh,
  size-lvh: $size-lvh,
  size-dvw: $size-dvw,
  size-svw: $size-svw,
  size-lvw: $size-lvw,
  size-vw: $size-vw,
  size-vh: $size-vh,
  size-half: $size-half,
  size-one-third: $size-one-third,
  size-two-thirds: $size-two-thirds,
  size-one-fourth: $size-one-fourth,
  size-three-fourths: $size-three-fourths,
  size-one-fifth: $size-one-fifth,
  size-two-fifths: $size-two-fifths,
  size-three-fifths: $size-three-fifths,
  size-four-fifths: $size-four-fifths,
  size-one-sixth: $size-one-sixth,
  size-two-sixths: $size-two-sixths,
  size-three-sixths: $size-three-sixths,
  size-four-sixths: $size-four-sixths,
  size-five-sixths: $size-five-sixths,
  size-one-twelfth: $size-one-twelfth,
  size-two-twelfths: $size-two-twelfths,
  size-three-twelfths: $size-three-twelfths,
  size-four-twelfths: $size-four-twelfths,
  size-five-twelfths: $size-five-twelfths,
  size-six-twelfths: $size-six-twelfths,
  size-seven-twelfths: $size-seven-twelfths,
  size-eight-twelfths: $size-eight-twelfths,
  size-nine-twelfths: $size-nine-twelfths,
  size-ten-twelfths: $size-ten-twelfths,
  size-eleven-twelfths: $size-eleven-twelfths,
) !default;
