$spacing-01: 0.125rem !default;
$spacing-02: 0.25rem !default;
$spacing-03: 0.375rem !default;
$spacing-04: 0.5rem !default;
$spacing-05: 0.625rem !default;
$spacing-06: 0.75rem !default;
$spacing-07: 0.875rem !default;
$spacing-08: 1rem !default;
$spacing-09: 1.125rem !default;
$spacing-10: 1.25rem !default;
$spacing-11: 1.5rem !default;
$spacing-12: 1.75rem !default;
$spacing-13: 2rem !default;
$spacing-14: 2.25rem !default;
$spacing-15: 2.5rem !default;
$spacing-16: 2.75rem !default;
$spacing-17: 3rem !default;
$spacing-18: 3.5rem !default;
$spacing-19: 4rem !default;
$spacing-20: 5rem !default;
$spacing-21: 6rem !default;
$spacing-22: 7rem !default;
$spacing-23: 8rem !default;
$spacing-24: 9rem !default;
$spacing-25: 10rem !default;
$spacing-26: 11rem !default;
$spacing-27: 12rem !default;
$spacing-28: 13rem !default;
$spacing-29: 14rem !default;
$spacing-30: 15rem !default;
$spacing-31: 16rem !default;
$spacing-32: 18rem !default;
$spacing-33: 20rem !default;
$spacing-34: 24rem !default;

$spacing: (
  spacing-01: $spacing-01,
  spacing-02: $spacing-02,
  spacing-03: $spacing-03,
  spacing-04: $spacing-04,
  spacing-05: $spacing-05,
  spacing-06: $spacing-06,
  spacing-07: $spacing-07,
  spacing-08: $spacing-08,
  spacing-09: $spacing-09,
  spacing-10: $spacing-10,
  spacing-11: $spacing-11,
  spacing-12: $spacing-12,
  spacing-13: $spacing-13,
  spacing-14: $spacing-14,
  spacing-15: $spacing-15,
  spacing-16: $spacing-16,
  spacing-17: $spacing-17,
  spacing-18: $spacing-18,
  spacing-19: $spacing-19,
  spacing-20: $spacing-20,
  spacing-21: $spacing-21,
  spacing-22: $spacing-22,
  spacing-23: $spacing-23,
  spacing-24: $spacing-24,
  spacing-25: $spacing-25,
  spacing-26: $spacing-26,
  spacing-27: $spacing-27,
  spacing-28: $spacing-28,
  spacing-29: $spacing-29,
  spacing-30: $spacing-30,
  spacing-31: $spacing-31,
  spacing-32: $spacing-32,
  spacing-33: $spacing-33,
  spacing-34: $spacing-34,
) !default;
