$font-size-2xs: 0.625rem !default;
$font-size-xs: 0.75rem !default;
$font-size-sm: 0.875rem !default;
$font-size-md: 1rem !default;
$font-size-lg: 1.125rem !default;
$font-size-xl: 1.25rem !default;
$font-size-2xl: 1.5rem !default;
$font-size-3xl: 1.875rem !default;
$font-size-4xl: 2.25rem !default;
$font-size-5xl: 3rem !default;
$font-size-6xl: 3.75rem !default;
$font-size-7xl: 4.5rem !default;
$font-size-8xl: 6rem !default;
$font-size-9xl: 8rem !default;

$font-size: (
  font-size-2xs: $font-size-2xs,
  font-size-xs: $font-size-xs,
  font-size-sm: $font-size-sm,
  font-size-md: $font-size-md,
  font-size-lg: $font-size-lg,
  font-size-xl: $font-size-xl,
  font-size-2xl: $font-size-2xl,
  font-size-3xl: $font-size-3xl,
  font-size-4xl: $font-size-4xl,
  font-size-5xl: $font-size-5xl,
  font-size-6xl: $font-size-6xl,
  font-size-7xl: $font-size-7xl,
  font-size-8xl: $font-size-8xl,
  font-size-9xl: $font-size-9xl,
) !default;
