$font-weight-thin: 100 !default;
$font-weight-extralight: 200 !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-semibold: 600 !default;
$font-weight-bold: 700 !default;
$font-weight-extrabold: 800 !default;
$font-weight-black: 900 !default;

$font-weight: (
  font-weight-thin: $font-weight-thin,
  font-weight-extralight: $font-weight-extralight,
  font-weight-light: $font-weight-light,
  font-weight-normal: $font-weight-normal,
  font-weight-medium: $font-weight-medium,
  font-weight-semibold: $font-weight-semibold,
  font-weight-bold: $font-weight-bold,
  font-weight-extrabold: $font-weight-extrabold,
  font-weight-black: $font-weight-black,
) !default;
