$font-family-heading: unquote(
  'Inter, -apple-system, BlinkMacSystemFont, ' Segoe UI
    ', Helvetica, Arial, sans-serif, ' Apple Color Emoji ', ' Segoe UI Emoji
    ', ' Segoe UI Symbol ''
) !default;
$font-family-body: unquote(
  'Inter, -apple-system, BlinkMacSystemFont, ' Segoe UI
    ', Helvetica, Arial, sans-serif, ' Apple Color Emoji ', ' Segoe UI Emoji
    ', ' Segoe UI Symbol ''
) !default;
$font-family-mono: unquote(
  'SFMono-Regular,Menlo,Monaco,Consolas,' Liberation Mono ',' Courier New
    ',monospace'
) !default;

$font-family: (
  font-family-heading: $font-family-heading,
  font-family-body: $font-family-body,
  font-family-mono: $font-family-mono,
) !default;
