$-2xs: 0.625rem !default;
$-xs: 0.75rem !default;
$-sm: 0.875rem !default;
$-md: 1rem !default;
$-lg: 1.125rem !default;
$-xl: 1.25rem !default;
$-2xl: 1.5rem !default;
$-3xl: 1.875rem !default;
$-4xl: 2.25rem !default;
$-5xl: 3rem !default;
$-6xl: 3.75rem !default;
$-7xl: 4.5rem !default;
$-8xl: 6rem !default;
$-9xl: 8rem !default;

$font-size: (
  2xs: $-2xs,
  xs: $xs,
  sm: $sm,
  md: $md,
  lg: $lg,
  xl: $xl,
  2xl: $-2xl,
  3xl: $-3xl,
  4xl: $-4xl,
  5xl: $-5xl,
  6xl: $-6xl,
  7xl: $-7xl,
  8xl: $-8xl,
  9xl: $-9xl,
) !default;
