$line-height-shorter: 1.25 !default;
$line-height-short: 1.375 !default;
$line-height-moderate: 1.5 !default;
$line-height-tall: 1.625 !default;
$line-height-taller: 2 !default;

$line-height: (
  line-height-shorter: $line-height-shorter,
  line-height-short: $line-height-short,
  line-height-moderate: $line-height-moderate,
  line-height-tall: $line-height-tall,
  line-height-taller: $line-height-taller,
) !default;
