@use 'sass:map';
@use '../layout';
@use '../type';
@use '../motion';
@use '../effects';
@use '../utilities';

$light: (
  background: #ffffff,
  background-subtle: #fafafa,
  background-muted: #f4f4f5,
  background-emphasized: #e4e4e7,
  background-inverted: #09090b,
  background-panel: #ffffff,
  background-error: #fef2f2,
  background-warning: #fff7ed,
  background-success: #f0fdf4,
  background-info: #eff6ff,
  foreground: #09090b,
  foreground-muted: #52525b,
  foreground-subtle: #a1a1aa,
  foreground-inverted: #fafafa,
  foreground-error: #ef4444,
  foreground-warning: #ea580c,
  foreground-success: #16a34a,
  foreground-info: #2563eb,
  border: #e4e4e7,
  border-muted: #f4f4f5,
  border-subtle: #fafafa,
  border-emphasized: #d4d4d8,
  border-inverted: #27272a,
  border-error: #ef4444,
  border-warning: #f97316,
  border-success: #22c55e,
  border-info: #3b82f6,
  gray-contrast: #ffffff,
  gray-foreground: #27272a,
  gray-subtle: #f4f4f5,
  gray-muted: #e4e4e7,
  gray-emphasized: #d4d4d8,
  gray-solid: #18181b,
  gray-focus-ring: #a1a1aa,
  red-contrast: unquote('white'),
  red-foreground: #991919,
  red-subtle: #fee2e2,
  red-muted: #fecaca,
  red-emphasized: #fca5a5,
  red-solid: #dc2626,
  red-focus-ring: #f87171,
  orange-contrast: unquote('white'),
  orange-foreground: #92310a,
  orange-subtle: #ffedd5,
  orange-muted: #fed7aa,
  orange-emphasized: #fdba74,
  orange-solid: #ea580c,
  orange-focus-ring: #fb923c,
  green-contrast: unquote('white'),
  green-foreground: #116932,
  green-subtle: #dcfce7,
  green-muted: #bbf7d0,
  green-emphasized: #86efac,
  green-solid: #16a34a,
  green-focus-ring: #4ade80,
  blue-contrast: unquote('white'),
  blue-foreground: #173da6,
  blue-subtle: #dbeafe,
  blue-muted: #bfdbfe,
  blue-emphasized: #a3cfff,
  blue-solid: #2563eb,
  blue-focus-ring: #60a5fa,
  yellow-contrast: unquote('black'),
  yellow-foreground: #713f12,
  yellow-subtle: #fef9c3,
  yellow-muted: #fef08a,
  yellow-emphasized: #fde047,
  yellow-solid: #fde047,
  yellow-focus-ring: #facc15,
  teal-contrast: unquote('white'),
  teal-foreground: #0c5d56,
  teal-subtle: #ccfbf1,
  teal-muted: #99f6e4,
  teal-emphasized: #5eead4,
  teal-solid: #0d9488,
  teal-focus-ring: #2dd4bf,
  purple-contrast: unquote('white'),
  purple-foreground: #641ba3,
  purple-subtle: #f3e8ff,
  purple-muted: #e9d5ff,
  purple-emphasized: #d8b4fe,
  purple-solid: #9333ea,
  purple-focus-ring: #c084fc,
  pink-contrast: unquote('white'),
  pink-foreground: #a41752,
  pink-subtle: #fce7f3,
  pink-muted: #fbcfe8,
  pink-emphasized: #f9a8d4,
  pink-solid: #db2777,
  pink-focus-ring: #f472b6,
  cyan-contrast: unquote('white'),
  cyan-foreground: #0c5c72,
  cyan-subtle: #cffafe,
  cyan-muted: #a5f3fc,
  cyan-emphasized: #67e8f9,
  cyan-solid: #0891b2,
  cyan-focus-ring: #22d3ee,
  shadow-xs: unquote(
      '0px 1px 2px rgba(24,24,27,0.1), 0px 0px 1px rgba(24,24,27,0.2)'
    ),
  shadow-sm: unquote(
      '0px 2px 4px rgba(24,24,27,0.1), 0px 0px 1px rgba(24,24,27,0.3)'
    ),
  shadow-md: unquote(
      '0px 4px 8px rgba(24,24,27,0.1), 0px 0px 1px rgba(24,24,27,0.3)'
    ),
  shadow-lg: unquote(
      '0px 8px 16px rgba(24,24,27,0.1), 0px 0px 1px rgba(24,24,27,0.3)'
    ),
  shadow-xl: unquote(
      '0px 16px 24px rgba(24,24,27,0.1), 0px 0px 1px rgba(24,24,27,0.3)'
    ),
  shadow-2XL: unquote(
      '0px 24px 40px rgba(24,24,27,0.16), 0px 0px 1px rgba(24,24,27,0.3)'
    ),
  shadow-inner: unquote('inset 0 2px 4px 0 rgba(9,9,11,0.05)'),
  shadow-inset: unquote('inset 0 0 0 1px rgba(9,9,11,0.05)'),
) !default;
$light: merge(
  $light,
  $aspect-ratios,
  $blur-levels,
  $border-widths,
  $cursors,
  $radii,
  $breakpoint,
  $sizes,
  $spacing,
  $zIndices,
  $animation,
  $duration,
  $easing,
  $font-families,
  $font-sizes,
  $font-weights,
  $letter-spacings,
  $line-heights
) !default;

$dark: (
  background: #09090b,
  background-subtle: #111111,
  background-muted: #18181b,
  background-emphasized: #27272a,
  background-inverted: #ffffff,
  background-panel: #111111,
  background-error: #1f0808,
  background-warning: #220a04,
  background-success: #03190c,
  background-info: #0c142e,
  foreground: #fafafa,
  foreground-muted: #a1a1aa,
  foreground-subtle: #71717a,
  foreground-inverted: #09090b,
  foreground-error: #f87171,
  foreground-warning: #fdba74,
  foreground-success: #86efac,
  foreground-info: #a3cfff,
  border: #27272a,
  border-muted: #18181b,
  border-subtle: #111111,
  border-emphasized: #3f3f46,
  border-inverted: #e4e4e7,
  border-error: #f87171,
  border-warning: #fb923c,
  border-success: #4ade80,
  border-info: #60a5fa,
  gray-contrast: #09090b,
  gray-foreground: #e4e4e7,
  gray-subtle: #18181b,
  gray-muted: #27272a,
  gray-emphasized: #3f3f46,
  gray-solid: #ffffff,
  gray-focus-ring: #a1a1aa,
  red-contrast: #ffffff,
  red-foreground: #fca5a5,
  red-subtle: #300c0c,
  red-muted: #511111,
  red-emphasized: #991919,
  red-solid: #dc2626,
  red-focus-ring: #f87171,
  orange-contrast: #09090b,
  orange-foreground: #fdba74,
  orange-subtle: #3b1106,
  orange-muted: #6c2710,
  orange-emphasized: #92310a,
  orange-solid: #f97316,
  orange-focus-ring: #fb923c,
  green-contrast: #ffffff,
  green-foreground: #86efac,
  green-subtle: #042713,
  green-muted: #124a28,
  green-emphasized: #116932,
  green-solid: #16a34a,
  green-focus-ring: #4ade80,
  blue-contrast: #ffffff,
  blue-foreground: #a3cfff,
  blue-subtle: #14204a,
  blue-muted: #1a3478,
  blue-emphasized: #173da6,
  blue-solid: #2563eb,
  blue-focus-ring: #60a5fa,
  yellow-contrast: #09090b,
  yellow-foreground: #fde047,
  yellow-subtle: #422006,
  yellow-muted: #713f12,
  yellow-emphasized: #845209,
  yellow-solid: #fde047,
  yellow-focus-ring: #facc15,
  teal-contrast: #ffffff,
  teal-foreground: #5eead4,
  teal-subtle: #032726,
  teal-muted: #114240,
  teal-emphasized: #0c5d56,
  teal-solid: #0d9488,
  teal-focus-ring: #2dd4bf,
  purple-contrast: #ffffff,
  purple-foreground: #d8b4fe,
  purple-subtle: #2f0553,
  purple-muted: #4a1772,
  purple-emphasized: #641ba3,
  purple-solid: #9333ea,
  purple-focus-ring: #c084fc,
  pink-contrast: #ffffff,
  pink-foreground: #f9a8d4,
  pink-subtle: #45061f,
  pink-muted: #6d0e34,
  pink-emphasized: #a41752,
  pink-solid: #db2777,
  pink-focus-ring: #f472b6,
  cyan-contrast: #ffffff,
  cyan-foreground: #67e8f9,
  cyan-subtle: #072a38,
  cyan-muted: #134152,
  cyan-emphasized: #0c5c72,
  cyan-solid: #0891b2,
  cyan-focus-ring: #22d3ee,
  shadow-xs: unquote(
      '0px 1px 1px rgba(9,9,11,0.64), 0px 0px 1px inset rgba(212,212,216,0.2)'
    ),
  shadow-sm: unquote(
      '0px 2px 4px rgba(9,9,11,0.64), 0px 0px 1px inset rgba(212,212,216,0.3)'
    ),
  shadow-md: unquote(
      '0px 4px 8px rgba(9,9,11,0.64), 0px 0px 1px inset rgba(212,212,216,0.3)'
    ),
  shadow-lg: unquote(
      '0px 8px 16px rgba(9,9,11,0.64), 0px 0px 1px inset rgba(212,212,216,0.3)'
    ),
  shadow-xl: unquote(
      '0px 16px 24px rgba(9,9,11,0.64), 0px 0px 1px inset rgba(212,212,216,0.3)'
    ),
  shadow-2XL: unquote(
      '0px 24px 40px rgba(9,9,11,0.64), 0px 0px 1px inset rgba(212,212,216,0.3)'
    ),
  shadow-inner: unquote('inset 0 2px 4px 0 #09090B'),
  shadow-inset: unquote('inset 0 0 0 1px rgba(212,212,216,0.05)'),
) !default;
$dark: merge(
  $dark,
  $aspect-ratios,
  $blur-levels,
  $border-widths,
  $cursors,
  $radii,
  $breakpoint,
  $sizes,
  $spacing,
  $zIndices,
  $animation,
  $duration,
  $easing,
  $font-families,
  $font-sizes,
  $font-weights,
  $letter-spacings,
  $line-heights
) !default;
