@use '@use "../config"';
@use '@use "../theme"';

@function _get($token) {
  @if config.$use-fallback-value == false {
    @return var(--#{config.$prefix}-#{$token});
  } @else {
    @return var(--#{config.$prefix}-#{$token}, #{theme.get($token)});
  }
}

$background: _get('background') !default;
$background-subtle: _get('background-subtle') !default;
$background-muted: _get('background-muted') !default;
$background-emphasized: _get('background-emphasized') !default;
$background-inverted: _get('background-inverted') !default;
$background-panel: _get('background-panel') !default;
$background-error: _get('background-error') !default;
$background-warning: _get('background-warning') !default;
$background-success: _get('background-success') !default;
$background-info: _get('background-info') !default;
$foreground: _get('foreground') !default;
$foreground-muted: _get('foreground-muted') !default;
$foreground-subtle: _get('foreground-subtle') !default;
$foreground-inverted: _get('foreground-inverted') !default;
$foreground-error: _get('foreground-error') !default;
$foreground-warning: _get('foreground-warning') !default;
$foreground-success: _get('foreground-success') !default;
$foreground-info: _get('foreground-info') !default;
$border: _get('border') !default;
$border-muted: _get('border-muted') !default;
$border-subtle: _get('border-subtle') !default;
$border-emphasized: _get('border-emphasized') !default;
$border-inverted: _get('border-inverted') !default;
$border-error: _get('border-error') !default;
$border-warning: _get('border-warning') !default;
$border-success: _get('border-success') !default;
$border-info: _get('border-info') !default;
$gray-contrast: _get('gray-contrast') !default;
$gray-fg: _get('gray-fg') !default;
$gray-subtle: _get('gray-subtle') !default;
$gray-muted: _get('gray-muted') !default;
$gray-emphasized: _get('gray-emphasized') !default;
$gray-solid: _get('gray-solid') !default;
$gray-focus-ring: _get('gray-focus-ring') !default;
$red-contrast: _get('red-contrast') !default;
$red-fg: _get('red-fg') !default;
$red-subtle: _get('red-subtle') !default;
$red-muted: _get('red-muted') !default;
$red-emphasized: _get('red-emphasized') !default;
$red-solid: _get('red-solid') !default;
$red-focus-ring: _get('red-focus-ring') !default;
$blue-contrast: _get('blue-contrast') !default;
$blue-fg: _get('blue-fg') !default;
$blue-subtle: _get('blue-subtle') !default;
$blue-muted: _get('blue-muted') !default;
$blue-emphasized: _get('blue-emphasized') !default;
$blue-solid: _get('blue-solid') !default;
$blue-focus-ring: _get('blue-focus-ring') !default;
$green-contrast: _get('green-contrast') !default;
$green-fg: _get('green-fg') !default;
$green-subtle: _get('green-subtle') !default;
$green-muted: _get('green-muted') !default;
$green-emphasized: _get('green-emphasized') !default;
$green-solid: _get('green-solid') !default;
$green-focus-ring: _get('green-focus-ring') !default;
$orange-contrast: _get('orange-contrast') !default;
$orange-fg: _get('orange-fg') !default;
$orange-subtle: _get('orange-subtle') !default;
$orange-muted: _get('orange-muted') !default;
$orange-emphasized: _get('orange-emphasized') !default;
$orange-solid: _get('orange-solid') !default;
$orange-focus-ring: _get('orange-focus-ring') !default;
$yellow-contrast: _get('yellow-contrast') !default;
$yellow-fg: _get('yellow-fg') !default;
$yellow-subtle: _get('yellow-subtle') !default;
$yellow-muted: _get('yellow-muted') !default;
$yellow-emphasized: _get('yellow-emphasized') !default;
$yellow-solid: _get('yellow-solid') !default;
$yellow-focus-ring: _get('yellow-focus-ring') !default;
$teal-contrast: _get('teal-contrast') !default;
$teal-fg: _get('teal-fg') !default;
$teal-subtle: _get('teal-subtle') !default;
$teal-muted: _get('teal-muted') !default;
$teal-emphasized: _get('teal-emphasized') !default;
$teal-solid: _get('teal-solid') !default;
$teal-focus-ring: _get('teal-focus-ring') !default;
$purple-contrast: _get('purple-contrast') !default;
$purple-fg: _get('purple-fg') !default;
$purple-subtle: _get('purple-subtle') !default;
$purple-muted: _get('purple-muted') !default;
$purple-emphasized: _get('purple-emphasized') !default;
$purple-solid: _get('purple-solid') !default;
$purple-focus-ring: _get('purple-focus-ring') !default;
$pink-contrast: _get('pink-contrast') !default;
$pink-fg: _get('pink-fg') !default;
$pink-subtle: _get('pink-subtle') !default;
$pink-muted: _get('pink-muted') !default;
$pink-emphasized: _get('pink-emphasized') !default;
$pink-solid: _get('pink-solid') !default;
$pink-focus-ring: _get('pink-focus-ring') !default;
$cyan-contrast: _get('cyan-contrast') !default;
$cyan-fg: _get('cyan-fg') !default;
$cyan-subtle: _get('cyan-subtle') !default;
$cyan-muted: _get('cyan-muted') !default;
$cyan-emphasized: _get('cyan-emphasized') !default;
$cyan-solid: _get('cyan-solid') !default;
$cyan-focus-ring: _get('cyan-focus-ring') !default;
